---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { t } from '../../i18n';

const lang = 'ja';
---

<BaseLayout lang={lang}>
	<h1>{t('home.p1', lang)}</h1>
	<p>{t('home.p2', lang)}</p>
	<p>{t('home.p3', lang)}</p>
</BaseLayout>
