body {
    background: #222;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    width: 80%;
    margin: 0 auto;
}

#app > header > h1,
#app > header > h2 {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
}
