:root {
	--accent: #1da1f2ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	background-size: 100% 600px;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	color: rgb(var(--gray-dark));
	display: flex;
	flex-direction: column;
	font-family: 'Atkinson', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	max-height: 100vh;
	min-height: 100vh;
	overflow-wrap: break-word;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
}

main {
	max-width: 960px;
	margin: auto;
	padding: 2rem 1rem;
	flex-grow: 1;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(var(--black));
	line-height: 1.2;
	margin: 0 0 0.5rem 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

strong,
b {
	font-weight: 700;
}

a {
	color: var(--black);

	&:hover {
		color: var(--accent);
	}
}

header nav:first-child {
	margin: auto;
	max-width: calc(100% - 2em);
	width: 960px;
}

textarea {
	font-size: 16px;
	width: 100%;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	border-radius: 8px;
	height: auto;
	max-width: 100%;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 2rem;
	}

	header nav h2 {
		display: none;
	}
}
