/* Color variables */
:root {
	/* Basic colors */
	--accent: #1da1f2;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;

	/* Light theme colors */
	--bg-primary-light: #f5f5f5;
	--bg-secondary-light: #c8c8c8;
	--bg-accent-light: #fff;
	--text-color-light: #000;

	/* Dark theme colors */
	--bg-primary-dark: #222;
	--bg-secondary-dark: #525252;
	--bg-accent-dark: #353535;
	--text-color-dark: #e6e6e6;

	/* Gradients */
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

/* Theme-specific styles */
[data-theme="light"] {
	--background-color: var(--bg-primary-light);
	--text-color: var(--text-color-light);
	--bg-accent: var(--bg-accent-light);
}

[data-theme="dark"] {
	--background-color: var(--bg-primary-dark);
	--text-color: var(--text-color-dark);
	--bg-accent: var(--bg-accent-dark);
}

/* Global styles */
html {
	height: 100%;
	min-height: 100%;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-size: 16px;
	line-height: 1.7;
	min-height: 100%;
	overflow-wrap: break-word;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
}

main {
	flex-grow: 1;
	margin: auto;
	max-width: 960px;
	overflow: auto;
	padding: 2rem 1rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
}

strong, b {
	font-weight: 700;
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--accent);
}

/* Images */
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

.post-image {
	background-color: #fff;
	border-radius: 12px;
	object-fit: contain;
	height: 128px;
	max-width: 128px;
}

/* Icons */
.material-symbols-outlined {
	color: var(--text-color);
	font-variation-settings:
			'FILL' 1,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
}

/* Media Queries */
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 2rem;
	}

	header nav h2 {
		display: none;
	}

	.post-image {
		max-height: 100px;
		max-width: 100px;
	}
}
