::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 10px;
  margin: 4px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
