---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & { isActive: boolean };

const { href, class: className, isActive, ...props } = Astro.props;

if (!href) {
	return;
}

const hrefString = typeof href === 'string' ? href : href.toString();

---
<a href={hrefString} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
