:root {
  --dark-main-text-color: #fff;
  --dark-second-text-color: #aaa;

  --dark-main-bg-color: #292929;
  --dark-second-bg-color: #121212;

  --dark-main-accent-color: #1d1d1d;
  --dark-main-border-color: #41b883;
}

.dark-theme {
  background: var(--dark-main-bg-color);
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme p,
.dark-theme a {
  color: var(--dark-main-text-color);
}

.dark-theme .app__wrapper {
  /*background-color: var(--dark-second-bg-color);*/
}

.dark-theme .block-header,
.dark-theme .menu-header {
  /*border: 2px dashed var(--dark-main-border-color);*/
  border: none;
  border-radius: 8px;
}

.dark-theme .menu-header,
.dark-theme .block-header {
  background-color: var(--dark-main-accent-color);
}

.dark-theme .menu-item-icon {
  border: none;
  color: var(--dark-second-text-color) !important;
}

.dark-theme .menu-item.active .menu-item-icon,
.dark-theme .contact-icon.fab.fa-github-alt {
  color: var(--dark-main-text-color) !important;
}

.dark-theme .sidebar-panel {
  background-color: var(--dark-main-accent-color);
}
